.background {
  viewport-fill: black;
}

#mainClockTime {
  font-size: 110;
  font-family: System-Light;
  text-length: 10;
  text-anchor: middle;
  x: 50%;
  y: 100%;
}

#mainDateTimeDay{
  font-size: 33;
  font-family: System-Light;
  text-length: 30;
  text-anchor: middle;
  x: 50%;
  y: 75%;
}

.mainText{
  fill: white;
}

#dateDivider {
  height: 2;
  width: 80%;
  x:30;
  y:63%;
}

/* General Formatting for Top Sections */
.smallerStats{
  font-size: 24;
  font-family: System-Regular;
  text-length: 32;
  fill: darkred;
  y: 20%;
}

.smallerIconStats{
  height: 22;
  width: 20;
  fill: darkred;
}

.whiteBar {
  fill: white;
  width: 70%;
  height: 27;
}

/* Specific Formatting for our sections */
#mainHeartRate {
 
}

#mainStepsTaken {

}

#mainCaloriesBurned {

}

#mainElevationClimbed { 

}